In [2]:
import pandas as pd
import numpy as np

In [3]:
#Create a dataframe with 4 features and 4 observation
s1= pd.Series(np.random.rand(4))
s2= pd.Series(np.random.rand(4))
s3= pd.Series(np.random.rand(4))
s4= pd.Series(np.random.rand(4))
df=pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.112052  0.381487  0.974423  0.074125
1  0.474174  0.236148  0.286967  0.868500
2  0.109115  0.562084  0.364447  0.229007
3  0.436546  0.253782  0.691631  0.323658

In [4]:
#Change column names
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.112052        0.381487        0.974423        0.074125
1        0.474174        0.236148        0.286967        0.868500
2        0.109115        0.562084        0.364447        0.229007
3        0.436546        0.253782        0.691631        0.323658

In [5]:
#Descriptive statistics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.282972        0.358375        0.579367        0.373822
std          0.199652        0.150456        0.316418        0.345453
min          0.109115        0.236148        0.286967        0.074125
25%          0.111318        0.249374        0.345077        0.190287
50%          0.274299        0.317634        0.528039        0.276332
75%          0.445953        0.426636        0.762329        0.459868
max          0.474174        0.562084        0.974423        0.868500

In [6]:
#Check for the null values
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [7]:
#Data type of the columns
print(df['Random value 1'].dtype)
print(df['Random value 2'].dtype)
print(df['Random value 3'].dtype)
print(df['Random value 4'].dtype)

float64
float64
float64
float64

In [8]:
#Display 'Random value 2' & 'Random value 3' columns with location method
loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(loc)

   Random value 2  Random value 3
0        0.381487        0.974423
1        0.236148        0.286967
2        0.562084        0.364447
3        0.253782        0.691631

In [9]:
#Display the 'Random value 2' & 'Random value 3' columns with index location method
iloc = df.iloc[:, [1, 2]]
print(iloc)

   Random value 2  Random value 3
0        0.381487        0.974423
1        0.236148        0.286967
2        0.562084        0.364447
3        0.253782        0.691631